body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  margin: 10%;
  width: 800px;
  margin-left: calc(50% - 400px);
  display: inline-block;
  text-align: center;
  background-color: white;
  padding-bottom: 50px;
}
img {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 35px;
}

.client > .img-number {
  width: 150px;
  height: 160px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #70c0c9;
  float: left;
}
.client {
  width: 19%;
  float: left;
  margin-left: 30px;
}

.apple {
  width: 160px;
  height: 150px;
  padding-top: 5px;
  padding-left: 30px;
}

.number {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  transform: translate(-30%, -30%);
  padding-bottom: 14px;
  background-color: white;
  border: 4px solid #70c0c9;
  color: #70c0c9;
  line-height: 6px;
  border-radius: 20px;
  position: absolute;
}

.client-text {
  background-color: white;
  width: 150px;
}

h1 {
  width: 110px;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #e05e46;
  padding-bottom: 10px;
  padding-top: 5px;
  line-height: 18px;
}

.messaging > .img-number {
  width: 150px;
  height: 160px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #4074bd;
  float: left;
}
.number2 {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  transform: translate(-30%, -30%);
  padding-bottom: 14px;
  background-color: white;
  border: 4px solid #4074bd;
  color: #4074bd;
  line-height: 6px;
  border-radius: 20px;
  position: absolute;
}
.university {
  width: 160px;
  height: 150px;
  padding-top: 5px;
  padding-left: 30px;
}

.messaging {
  width: 19%;
  float: left;
  margin-left: 5%;
}

.sales > .img-number {
  width: 150px;
  height: 160px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #e05e46;
  float: left;
}
.people {
  width: 160px;
  height: 150px;
  padding-top: 5px;
  padding-left: 30px;
}

.number3 {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  transform: translate(-30%, -30%);
  padding-bottom: 14px;
  background-color: white;
  border: 4px solid #e05e46;
  color: #e05e46;
  line-height: 6px;
  border-radius: 20px;
  position: absolute;
}

.sales {
  width: 19%;
  float: left;
  margin-left: 5%;
}

.strategy > .img-number {
  width: 150px;
  height: 160px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #919191;
}

.flesh {
  width: 160px;
  height: 150px;
  padding-top: 5px;
  padding-left: 30px;
}
.number4 {
  float: left;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  transform: translate(-30%, -30%);
  padding-bottom: 14px;
  background-color: white;
  border: 4px solid #919191;
  color: #919191;
  line-height: 6px;
  border-radius: 20px;
  position: absolute;
}
.strategy {
  width: 19%;
  float: left;
  margin-left: 5%;
}

p {
  font-size: 12px;
  line-height: 15px;
}
